@import "tailwindcss";

@layer components {
  .prose-custom h2 {
    @apply mt-10 mb-4 text-2xl font-semibold;
  }

  .prose-custom p {
    @apply mb-6 leading-relaxed;
  }
}

/* body {
  font-family: "Courier New", Courier, monospace;
} */

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background-color: #fafafa;
  color: #1f2937;
}
